@charset "UTF-8";
/* commons css*/
html {
	position: relative;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

main {
	flex-grow: 1;
	flex-shrink: 0;
}